* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1.5fr 7fr / 1fr 7fr;
}


.sidebar {
    grid-area: 1 / 1 / -1 / 1;
    display: grid;
    grid-auto-rows: min-content;
    gap: 50px;
}

.side-top-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 7px;
    gap: 10px;
}

.dashboard-icon {
    width: 45px;
}

.side-icon {
    width: 30px;
}

.side-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.side-help, .side-personal-routes {
    display: grid;
    gap: 10px;
}

.top-bar {
    grid-area: 1 / 2 / 1 / 2;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    padding-left: 40px;
}

.control-bar > .profile-picture {
    width: 70px;
}

.main-bar {
    padding-top: 12px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    display: grid;
    grid-template-columns: 1fr 35fr;
    height: min-content;
}

.search-bar {
    width: 90%;
}

.top-right-container {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.top-right-container > .profile-picture {
    width: 50px;
    margin: 0;
    padding: 0;
}

.main-bar-icon {
    width: 27px;
}

.control-bar {
    display: grid;
    grid-template-columns: 0.8fr 10fr 3.5fr;
    justify-content: center;
    align-items: center;
}

.greeting-container {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greeting {
    margin-top: 5px;
    font-size: 0.8rem;
}

.user-details {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.control-buttons-container {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    gap: 25px;
}

.control-button {
    text-decoration: none;
}

.data-container {
    grid-area: 2 / 2 / 2 / 2;
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
}

.project-control-button {
    width: 25px;
}